* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

.logo {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-list {
  display: flex;
  justify-content: center;

  li {
    font-family: 'Teko', sans-serif;
    font-size: 1.5em;
    margin: 0 20px;
  }
}

main {
  background-image: url('../../public/images/bg.jpg');
  padding: 20px 0;

  h2 {
    color: #002d73;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    img {
      width: 390px;
      margin: 5px;
    }
  }
}

.footer-container {
  display: flex;
  color: grey;
  padding: 30px 0;

  .left-footer {
    width: 40%;
  }

  .right-footer {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      width: 40%;
    }
  }
}
