* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.logo {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-list {
  display: flex;
  justify-content: center;
}
.header-list li {
  font-family: "Teko", sans-serif;
  font-size: 1.5em;
  margin: 0 20px;
}

main {
  background-image: url(/images/bg.jpg?495cda396bfe9f137038166b61c40759);
  padding: 20px 0;
}
main h2 {
  color: #002d73;
}
main .box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
main .box img {
  width: 390px;
  margin: 5px;
}

.footer-container {
  display: flex;
  color: grey;
  padding: 30px 0;
}
.footer-container .left-footer {
  width: 40%;
}
.footer-container .right-footer {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-container .right-footer div {
  width: 40%;
}
